<h1 *ngIf="isAddMode">Make Reservation</h1>
<h1 *ngIf="!isAddMode">Change Reservation</h1>

<form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div class="form-row">
        <div class="form-group col">
            <label for="date">Date</label>
            <input type="text" formControlName="date" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fc.startTime.errors }" />
            <div *ngIf="submitted && fc.date.errors" class="invalid-feedback">
                <div *ngIf="fc.date.errors.required">Date is required!</div>
            </div>
        </div>

        <div class="form-group col">
            <label for="startTime">From</label>
            <input type="text" formControlName="startTime" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fc.startTime.errors }" />
            <div *ngIf="submitted && fc.startTime.errors" class="invalid-feedback">
                <div *ngIf="fc.startTime.errors.required">Start time is required!</div>
            </div>
        </div>

        <div class="form-group col">
            <label for="endTime">To</label>
            <input type="text" formControlName="endTime" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && fc.endTime.errors }" />
            <div *ngIf="submitted && fc.endTime.errors" class="invalid-feedback">
                <div *ngIf="fc.endTime.errors.required">End time is required!</div>
            </div>
        </div>

    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Make reservation
        </button>
        <a routerLink="/reservations" class="btn btn-link">Cancel</a>
    </div>

</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 30%">Zone</th>
            <th style="width: 30%">Type</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let lounger of loungersFromApi; let i=index">
            <td>{{lounger.id}}</td>
            <td>{{lounger.zone}}</td>
            <td>{{lounger.type}}</td>
            <td><input type="checkbox" [value]="lounger.id" (change)="onCheckboxChange($event)" /></td>
        </tr>
    </tbody>
</table>


    <!-- 
    <div *ngFor="let lounger of loungersFromApi; let i=index">
        <label>
            <input type="checkbox" [value]="lounger.id" (change)="onCheckboxChange($event)" />
            {{lounger.id}}
        </label>
    </div> -->